<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>첫째 정보 조회</title>
<link rel="stylesheet" type="text/css" href="/static/tablestyle.css">
</head>
<body>
<h3>첫째 기록</h3>
<form action="/" method="get">
<input type="submit" value="처음으로 돌아가기">
</form>
<table>
    <thead>
        <tr><th>시작 시간</th><th>수행 시간</th></tr>
    </thead>
    <tbody>
        {% for key in dict : %}
    <tr>
        <td>{% print(key) %}</td>
        <td>{% print(dict[key]) %}</td>
    </tr>
        {% endfor %}
    </tbody>
</table>
</br>
</body>
</html>